<div class="bg-white p-4 rounded-lg">
    <form [formGroup]="searchForm" (ngSubmit)="navigateToProfile()">
        <div class="flex items-center border-b border-gray-500 py-2">
            <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" formControlName="search" placeholder="Search by username">
            <button class = "flex-shrink-0 bg-teal-500 hover:bg-teal-700 text-sm border-4 text-white py-1 px-2 rounded-full"  type="submit">Search</button>
        </div>
    </form>
</div>