<div class="bg-white p-4  ">
    <div *ngIf="repos">
        <ul *ngFor="let repo of repos">
            <div class="border border-indigo-500/50  mb-4 p-4 rounded-md drop-shadow-2xl">
                <h1 class="text-xl font-bold">{{repo.name}}</h1>
                <p> <span class="font-bold">No of Stars:</span> {{repo.stargazers_count}}</p>
                <p> <span class="font-bold">Description: </span> {{repo.description}}</p>
                <a class="bg-indigo-500 text-white text-xs rounded-md p-1" href={{repo.html_url}}>View on github</a>
            </div>
            
        </ul>
    </div>
</div>